body{
  background: lightgray;
  font-family: sans-serif;
}

.wrap{
  width: 600px;
  margin: auto;
}

blockquote{
  border-style: solid;
  border-width: thin;
  border-color: white;
  margin-left: 0;
  
  text-align: center;
}