body{
  background-color: lightgray;
  font-family: sans-serif
}

a{
  color: teal;
}

li a{
  text-decoration: none;
}

li:nth-child(3) a{
  color:gray;
}

.fragment{
  background-color: white;
  width: 750px;
  height: 550px;
}

.image{
  height: 510px;
  float: left;
  padding-left: 40px;
  padding-top: 40px;
}

.text{
  padding-top: 40px;
  padding-left: 20px;
  float: left;
  width: 400px;
}

.text ul{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.text li{
  display: inline;
  padding-top: 0;
  font-style: italic;
}

.text h1{
  margin-top: 5px;
  margin-bottom: 0px;
}

.text h6{
  margin-top: 5px;
  margin-bottom: 0px;
}

.text h6 span{
  background-color: lightgray;
  font-style: italic;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  width:auto;
  font-size: 15px;
}

.text p{
  margin-top: 10px;
}

.cont{
  text-align: right;
}